/* Content.css */
.animate-fade-in {
    animation: fadeIn 1s ease-in-out 1; /* Adjust the duration as needed */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  